
#aheader {
    background-image: url(img/header.jpg);
	background-size:cover;
	width:1090px;  
	height:100px;  
    padding:10px;
}
#anav {
    line-height:30px;
    background-color:#ff8e30;
    height:80%;
    width:100px;
    float:left;
    padding:5px;	      
}
#asection {
	background-image: url(img/loginbodytr.jpg);
	background-size:cover;
	width:900px;
    height:480px;
	float:left;
    padding:10px;	 	 
}

#alinkfoul
{
font-size: 12px;
}

.alink
{	
	color: #703300;
    text-shadow:
       1px 1px 0 #fff,
     -1px -1px 0 #fff,  
      1px -1px 0 #fff,
      -1px 1px 0 #fff;
	text-decoration: none;
	font-size: 15px;
	font-weight: 100;
	letter-spacing: 1px;
}

.alink:hover
{	
	color:#703300;
	text-decoration: underline;
	text-shadow:none;
}

#aCafTabl
{
	color:#703300;
	text-decoration: none;
	font-size: 30px;
	font-weight: 100;
	letter-spacing: 1px;
	text-align: center;
	margin-left:auto; 
	margin-right:auto;
	border-spacing: 25px 10px;
}
#aCafTabl a
{
	color:#703300;
	text-decoration: none;
	font-size: 20px;
	font-weight: 100;
	letter-spacing: 1px;
}
#aCafTabl a:hover
{	
	color:red;
	text-decoration: underline;
	text-shadow:none;
}

#aCafTabl div
{
	color:gray;
	text-decoration: none;
	font-size: 20px;
	font-weight: 100;
	letter-spacing: 1px;
}

#abody
{	
	background-image:url(img/loginbody.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size:100%;
}

.acredentials
{	
	padding: 0px 10px;
	width: 300px;
	height: 40px;
	color: gray;
	text-shadow: 1px 1px 5px rgba(144, 144, 144, 0.5);
	border: 0px;
	border-radius: 25px;
	box-shadow: 0px 1px 4px red;
	font-size: 18px;
	font-weight: 100;
}
	
#aforget
{	
	color: #4f5dd3;
	text-decoration: none;
	text-shadow: 1px 1px 5px rgba(144, 144, 144, 0.9);
	font-size: 13px;
	font-weight: 100;
	letter-spacing: 1px;
}

#aforget:hover
{	
	color:red;
	text-decoration: underline;
	text-align:center;
}

#atable p
{
	text-align:center;
	color: blue;
	text-decoration: none;
	font-size: 25px;
	font-weight: 200px;
	letter-spacing: 1px;
	border: 0px;
	border-radius: 25px;
	box-shadow: 0px 1px 4px red;
}

#atable table
{
border-spacing: 15px;
}