
#f2id { text-align: left;
		font-style: oblique;
		font-size: 30px;
		color:green;}

#f3id { text-align: left;
		font-style: oblique;
		font-size: 30px;
		color:green;}
		

#f4id { text-align: center;
		font-style: oblique;
		font-size: 30px;
		color:green;}
		

#f5id { text-align: left;
		font-style: oblique;
		font-size: 30px;
		color:green;}
.fady { text-align: left;
		font-style: oblique;
		font-size: 20px;
		color:black;}		
		

#f6id { text-align: center;
		font-style: oblique;
		font-size: 50px;
		color:orange;
		
	}
.far {
       width: 100px;
       padding: 5px;
       border: 15px solid gray;
       margin:15px;
	   color:red;}
#fmenu img{width:50%; height:auto;}

.fard1{
     
    background-image: url('Vector-tree-4 copy 5.jpg');
    background-repeat: no-repeat;}
.fard2{
    background-image: url('Vector-tree-4 copy 4.jpg');
    background-repeat: no-repeat;}
.fard3{
    
    background-image: url('Vector-tree-4 copy 2.jpg');
    background-repeat: no-repeat;}
.fard4{
   
    background-image: url('Vector-tree-4 copy 3.jpg');
    background-repeat: no-repeat;}	
   

#fdheader {
    background-color:#00035b;
    color:red;
    text-align:center;
    padding:5px;
}
#fdnav {
    color: #4f5dd3;
	text-decoration: none;
	text-shadow: 1px 1px 5px rgba(144, 144, 144, 0.9);
	font-size: 15px;
	font-weight: 100;
	letter-spacing: 1px;
    line-height:30px;
    background-color:#95d0fc;
    height:500px;
    width:300px;
    float:left;
    padding:5px;	      
}
#fdnav:hover
{	
	color:red;
	text-decoration: underline;
	text-align:left;
}

#fcheader {
    background-color:#00035b;
    color:red;
    text-align:center;
    padding:5px;
}
#fcnav {
    color: #4f5dd3;
	text-decoration: none;
	text-shadow: 1px 1px 5px rgba(144, 144, 144, 0.9);
	font-size: 15px;
	font-weight: 100;
	letter-spacing: 1px;
    line-height:30px;
    background-color:#95d0fc;
    height:500px;
    width:300px;
    float:left;
    padding:5px;	      
}


#fcsection {
    width:100px;
    float:left;
    padding:10px;	 	 
}
		

#fdsection {
    width:350px;
    float:left;
    padding:20px;	 	 
}

#faheader {
    background-color:#00035b;
    color:red;
    text-align:center;
    padding:5px;
}
#fanav {
    color: #4f5dd3;
	text-decoration: none;
	text-shadow: 1px 1px 5px rgba(144, 144, 144, 0.9);
	font-size: 15px;
	font-weight: 100;
	letter-spacing: 1px;
    line-height:30px;
    background-color:#95d0fc;
    height:500px;
    width:300px;
    float:left;
    padding:5px;	      
}


#fasection {
    width:500px;
    float:left;
    padding:5px;	 	 
}
		
#fvheader {
    background-color:#00035b;
    color:red;
    text-align:center;
    padding:5px;
}
#fvnav {
    color: #4f5dd3;
	text-decoration: none;
	text-shadow: 1px 1px 5px rgba(144, 144, 144, 0.9);
	font-size: 15px;
	font-weight: 100;
	letter-spacing: 1px;
    line-height:30px;
    background-color:#95d0fc;
    height:500px;
    width:300px;
    float:left;
    padding:5px;	      
}


#fvsection {
    width:350px;
    float:left;
    padding:10px;
  	
}
#ffbibo{background-image:url(img/loginbody.jpg);}
#fhome{margin-top:100px;}
#fhome li{display:inline;
           }
#fkoko{background-color:rgba(255,138,48,0.8);
       width:400px;
	   height:400px;  
	   padding:100px 20px 60px 20px;
	   border-radius:25px;
	  }
#fkoko  span
		{
			text-align:center;
			font-size:200%;
			color: #000;
			text-shadow:
			1px 1px 0 #fff,
			-1px -1px 0 #fff,  
			1px -1px 0 #fff,
			-1px 1px 0 #fff;
		}
#fkoko a{text-decoration:none;}		

#flolo{background-color:rgba(125,175,163,0.8);
       width:400px;
	   height:100px;  
	   padding:100px 50px 60px 50px;
	   border-radius:25px;
	   }
#flolo  span{text-align:center;
       font-size:200%;
	   color: #000;
			text-shadow:
			1px 1px 0 #fff,
			-1px -1px 0 #fff,  
			1px -1px 0 #fff,
			-1px 1px 0 #fff;
	   }
#flolo a{text-decoration:none;}	   
#fzozo{background-color:rgba(0,43,206,0.8);
       width:400px;
	   height:100px;  
	   padding:100px 50px 60px 50px;
	   border-radius:25px;
	   }
#fzozo  span{text-align:center;
       font-size:200%;
	   color: #000;
			text-shadow:
			1px 1px 0 #fff,
			-1px -1px 0 #fff,  
			1px -1px 0 #fff,
			-1px 1px 0 #fff;
	   }
#fzozo a{text-decoration:none;}	   
#fpopo{background-color:rgba(192,29,60,0.8);
       width:400px;
	   height:100px;  
	   padding:100px 50px 60px 50px;
	   border-radius:25px;
	   }
#fpopo  span{text-align:center;
       font-size:200%;
	   color: #000;
			text-shadow:
			1px 1px 0 #fff,
			-1px -1px 0 #fff,  
			1px -1px 0 #fff,
			-1px 1px 0 #fff;}
#fpopo a{text-decoration:none;}	
body {
	font: bold 11px/1.5em Verdana;
	}

	
#tabs {
	float:left;
	width:100%;
	font-size:93%;
	border-bottom:1px solid #2763A5;
	line-height:normal;
	}

#tabs ul {
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
	}

#tabs li {
	display:inline;
	margin:0;
	padding:0;
	}

#tabs a {
	float:left;
	background:url(img/tableft.gif) no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
	}

#tabs a span {
	float:left;
	display:block;
	background:url(img/tabright.gif) no-repeat right top;
	padding:5px 15px 4px 6px;
	color:#FFF;
	}


#tabs a span {float:none;}


#tabs a:hover span {
	color:#FFF;
	}

#tabs a:hover {
	background-position:0% -42px;
	}

#tabs a:hover span {
	background-position:100% -42px;
	}

		
.scontact_body
{
	background-color:#CDDDDA;
}

#scontainer_l
{
	float:left;
}
#scontainer_R
{
	float:right;
}
#scontainer
{
	width:1100px;
}
#sul li
{
	list-style-type:none;
}

div#scontactus_form {
    position:absolute;
    top:50%;
    right:60px;
    left:0;
}
#scontactus_div
{
	float:right;
}
#sbanner 
{
	width:700px;
	height:300px;
	background:url(img/banner-bg.jpg);
}

#sbanner h2 
{
	color:#fff;
	font-size:42px;
	line-height:1.2em;
	padding:75px 0 0 55px;
}

#sbanner h2 span 
{
	display:block;	
}

#sbanner h2 span span
 {
	font-size:30px;
}

#sheader {
    background-color:#c01d3c;
    color:white;
    text-align:center;
    padding:5px;
}

.sbody_book
{
	width:1310px;
	height:450px;
    float:left;
    	 
	background-size:cover;
	background:url(es3efny_logo.jpg);
	background-repeat: no-repeat;
}

#snav {
    line-height:30px;
    background-color:#eeeeee;
    height:600px;
    width:200px;
    float:left;
    padding:5px;	      
}

#ssection {
    width:1000px;
	height:550px;
    float:left;
  
	background-size:cover;
	background:url(img/es3efny_logo.jpg);
	background-repeat: no-repeat;	
}

#ssection_book {
    width:1100px;
	height:550px;
    float:left;
    	 
	background-size:cover;
	background:url(img/es3efny_logo.jpg);
	background-repeat: no-repeat;
}

.svisited_link
{	
	color: #4f5dd3;
	text-decoration: none;
	text-shadow: 1px 1px 5px rgba(144, 144, 144, 0.9);
	font-size: 19px;
	font-weight: 100;
	letter-spacing: 1px;
}
.svisited_link:hover
{	
	color:red;
	text-decoration: underline;
	text-align:center;
}
#ssection_book > #shopping_r
{
	float:left;
}

.sroundrect
{
	border-radius:15px;
	border-color:#c01d3c;
}


#cbody{ 
background-image: url("img/earth1.jpg");
}
#ctable{
  font-size: 25px;
 }
 #cinput{ border: 2px solid;
    border-radius: 25px;
	height:30px;}
	
h2 {
    text-color: blue;
}

/* test-copy */
#cheader1 {
    background-image: url('img/header1.jpg');
	width:1315px;  
	height:110px;  
    padding:10px;
	background-repeat:no-repeat;

}



#cnav {
    line-height:30px;
    background-color:#c7c3c1;
   height:500px;
    width:120px;
    float:left;
    padding:5px;	      
}
#csection {
    width:1200px;
	height:750px;;
    float:left;
    padding:10px;
font-size: 50px;	
background-image:url('img/back.jpg');}
}
#cfooter {
    background-color:#a2020d;
    color:white;
    clear:both; //bt7oto t7t//
    text-align:center;
   padding:5px;	 
  
}

.clink
{	
	color: #4f5dd3;
	text-decoration: none;
	text-shadow: 1px 1px 5px rgba(144, 144, 144, 0.9);
	font-size: 25px;
	font-weight: 100;
	letter-spacing: 1px;
}
.clink:hover
{	
	color:red;
	text-decoration: underline;
	
} 	 
#csection1{
    width:1200px;
	height:1000px;
    float:left;
    padding:10px;	 	 
background-image:url('img/back.jpg');
font-size: 14px;
}
#cnav1{
    line-height:30px;
    background-color:#ddd5d6;
   height:750px;
    width:100px;
    float:left;
    padding:5px;	      
}

#csection {
    width:1150px;
	height:500px;;
    float:left;
    padding:10px;	
background-image:url('img/back.jpg');}
/* annabelle */

#cp{background-color:#d0bdb7;
 box-shadow: 10px 10px 5px #888888;
 font-size: 25px;
 }

/* boxtroll*/

#cp1{background-color:#f0be39;
 font-size: 25px;
 }
/*fury*/

#cp2{background-color:#cec630;
 font-size: 25px;
 }
 #ctopic{font-size: 40px;}
/*left-behind*/
#cp3{background-color:#f29652;
 font-size: 25px;
 }
 #cp4{background-color:#ffd7eb;
font-size: 25px;
 }
 
#cp5{background-color:#fb97c9;
font-size: 25px;
 }
 #cp6{background-color:#b4a19a;
font-size: 25px;

				
